/* manageUsers.css */

/* Style the container */
/* .container {
    display: flex;
  } */
  
  
  /* .sidebar {
    width: 250px; 
    padding: 20px;
    background-color: #333; 
    height: 100vh; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  } */
  
  /* Style sidebar links */
  /* .sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  } */
  
  /* Change the color when the link is active */
  /* .sidebar a.active {
    background-color: #555;
  }
  
  
  .form-container {
    flex: 1;
    padding: 20px;
  }
  
 
  .form-container #contentcard {
    border-radius: 10px;
    overflow: hidden; 
  } */
  
  /* Add styling for the table */
  /* .form-container .MuiPaper-root {
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } */
  
  /* Add any additional styling as needed */
  
  /* manageUsers.css */

/* Add styles for the username-typewriter */


/* Style the container */
.container {
  display: flex;
}

/* Style the sidebar */
.sidebar {
  width: 250px; 
  padding: 20px;
  background-color: #333; 
  height: 100vh; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

/* Style sidebar links */
.sidebar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}


.sidebar a.active {
  background-color: #555;
}


.form-container {
  flex: 1;
  padding: 20px;
}


.form-container #contentcard {
  border-radius: 10px;
  overflow: hidden; 
}

/* Add styling for the table */
.form-container .MuiPaper-root {
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add any additional styling as needed */
