

/* 
.react-datepicker {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}


.react-datepicker__input-container input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #120237; 
  color: white;
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}




.react-datepicker__input-container input:hover {
  background-color: #50053b;
} */

.react-datepicker {
  border: none;
  border-radius: 5px;
  background-color: rgba(33, 4, 88, 0.4); /* Transparent white background */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for 3D effect */
 
}

.react-datepicker__input-container{
  margin-left: 0px;
 
}




/* Add 3D button effect to the date select button */
.react-datepicker__input-container input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); /* Mirror-like gradient background */
  color: rgb(27, 5, 72);
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s ease-in-out;
  /* Add box shadow for 3D effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.react-datepicker__input-container input:hover {
  background-color: #388e3c; /* Darker green color on hover */
}


.custom-datepicker {
 font-weight:400;
  color: black;
}



.content{

  margin-left: 300px;
  margin-top: 50px;
}


/* .clear-button {
  background-color: #4caf50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease-in-out; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.clear-button:hover {
  background-color: #388e3c; 
}

.clear-button:active {
  transform: translateY(2px); 
} */
.clear-button {
  background-color: #ff4076c6; /* Green background */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 13px 18px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor type */
  transition: background-color 0.3s ease-in-out; /* Transition effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  position: relative; /* Position for pseudo-element */
  overflow: hidden; /* Hide overflow */
  
}

.clear-button:hover {
  background-color: #388e3c; /* Darker green on hover */
}

.clear-button:active {
  transform: translateY(2px); /* Push the button down when clicked */
}


.clear-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent);
  pointer-events: none; /* Don't interfere with button interactions */
}


/* Apply mirror shining effect to the Select component */
.Select {
  background-color: rgb(202, 124, 124); 
  border: 1px solid transparent; 
  border-radius: 5px;
  padding: 10px; 
  box-shadow: 0px 0px 10px rgba(82, 3, 3, 0.5);
  cursor: pointer; 
  transition: box-shadow 0.3s ease-in-out; 
 
}

.Select:hover {
  box-shadow: 0px 0px 20px rgb(148, 56, 56); /* Increase shadow on hover for shining effect */
}



.submit-button {
  color: white; /* White text color */
  border: none; /* No border */
  padding: 12px 24px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor type */
  transition: background-color 0.3s ease-in-out; /* Transition effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add shadow */
  font-size: 16px; /* Font size */
  margin-left: 130px;
  margin-top: 30px;
  /* Apply gradient background */
  background-image: linear-gradient(to right, rgb(208, 197, 197), #2960a3);
}


.submit-button.enabled {
  background-color: #21bc21; /* Green background when enabled */
}

.submit-button:hover {
  background-color: #388e3c; /* Darker green on hover */
}

.submit-button:active {
  transform: translateY(2px); /* Push the button down when clicked */
}



.date-picker-button {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #ff4076c6; /* Fallback background color */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), #ff4076c6);
  color: #fbf9f9;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 1%;
 
}


.date-picker-button:hover {
  transform: translateY(-2px); /* Move the button up slightly on hover for 3D effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}


 /* .date-picker-container::before {
  content: '';
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent; 
}  */



.button-3d {
  background: linear-gradient(to right, white, #ff4076c6);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19), 
    inset -4px -4px 10px 0 rgba(255, 255, 255, 0.2); 
}