.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-inner {
    padding: 20px;
    width: 300px;
    background-color:#022f60;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .popup-inner h2 {
    margin: 0 0 20px;
  }
  
  .popup-inner input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #2923d7;
    box-sizing: border-box; /* Makes sure padding doesn't affect width */
  }
  
  .popup-inner button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  .popup-inner .error {
    color: red;
    margin: 5px 0;
  }
  .popup {
    /* Add your styling for the popup here */
  }
  
  .popup-inner {
    /* Add your styling for the inner popup content here */
    background-color: rgba(255, 255, 255, 0.9); /* Example: semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  /* Add other styles as needed */
  .password-requirement{
    font-size: x-small;
    color: red;
  }