/* .typeWriter-container{
  display:flex;
}
.username-typewriter {
    position:fixed;
    margin-left: 33%;
    display: flex;
    top: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
  }  */

  .username-typewriter {
    position: fixed;
    margin-left: 33%;
    display: flex;
    top: 15px;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9),#ff4076c6);
    -webkit-background-clip: text; 
    background-clip: text;
    cursor: pointer; 
  }
  
  
  
  