*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  /* background-color: #002952; */
  background: linear-gradient(245.59deg, #7c8de3 0%, #308ae4 28.53%, #034e8f 75.52%);
}


.sidebar {
  height: 100vh;
  width: 20%;
  background-image: linear-gradient(to right, #002952 1%,#ff4076c6 125%);
  border: 0.1px solid rgba(0, 42, 255, 0);
}

.slidebarIcon{
  width: 45%;
  left: 12%;
  /* margin-top: 15%;
  margin-left: 26%; */
  margin: 15%;
  display: flex;
  position: relative;
  background-color: #0000;
}


.sidebarList {
  width: 100%;
  height: 75vh;
  /* flex: 1; */
  /* margin-top: 10%; */
}

.sidebarList .row {
  width:75%;
  height: 50px;
  background-color: #1f5294;
  border-radius: 25px;
  list-style-type: none;
  margin-top: 12%;
   /* margin-bottom: 20px%;  */
  margin-left: 13%;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: 0.3s ease;
}
.sidebarList #active{
  background-color: #FF4076;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: #FF4076;
}

.sidebarList :active {
  scale: 95%;
}

.row #icon {
  margin: 2%;
  display: grid;
  place-items: center;
}
