@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* @import url('https://fonts.googleapis.com/css?family=Permanent+Marker'); */
body{
    background-color: #002952;
}
.logo {
    font-family: 'Josefin Sans', cursive;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    /* font-family: "Permanent Marker", cursive; */
    color: rgb(22, 127, 218);
    padding: 33px 9%;
  }
  .slidebarIcon{
    width: 45%;
    margin-top: 20%;
    margin-left: 25%;
    display: flex;
    background-color: #0000;
  }