

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 100px; /* added padding */
    padding-top: -50px;
  }
  
  .container1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 100px; /* added padding */
    padding-top: 50px;
  }
  
  .card1 {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ccc; /* changed border width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-color: black; /* added border color */
    border-radius: 15px; /* added border roundness */
    -moz-border-radius: 15px; /* added for compatibility */
    -webkit-border-radius: 15px; /* added for compatibility */
    background-color: #126180;
    padding-top: 50px; /* added padding */
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
  }
  
  .card2 {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ccc; /* changed border width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-color: black; /* added border color */
    border-radius: 15px; /* added border roundness */
    -moz-border-radius: 15px; /* added for compatibility */
    -webkit-border-radius: 15px; /* added for compatibility */
    background-color: #126180;
    padding-top: 50px; /* added padding */
  }
  .card-body {
    font-size: 16px;
    line-height: 1.5;
  }
  body{
    background-color: #002952;
  }
  .card1 h2{
    color: white;
  }
  .card2 h2{
    color: white;
  }
  .card1 p{
    color: rgb(145, 181, 225);
  }
  .content a{
    color: white;
  }
  